*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex;
}

.site_header{
    background-color: var(--header_background);
}

.header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
}

.logo{
 
}

ul{
    list-style: none;
    display: flex;
}

.button{
    border-radius: 25%;
}

.img{
    width: 60%;
}



.container_small{
    width: 40%;
}

footer{
    background-color: var(--bool-footerdark);
}



:root{
    --header_background: #3161e0FF;
    --bool-lighter: #ffffffFF;
    --bool-light: #f6f6f6FF;
    --bool-dark: #222628FF;
    --bool-footerdark: #23272aFF;
    --bool-primary: #8ea1e1FF;
}

