*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex;
}

.site_header{
    background-color: var(--header_background);
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.header{
    text-align: center;
}

.colum{
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.star{
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: no-repeat;
}

.nav{
background-color: var(--header_background); 
}

ul{
    justify-content: center;
    list-style: none;
    display: flex;
    flex-grow: 3;
    gap: 0.5rem;
}

.flx-grow{
    flex-grow: 1;
}

.button{
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 1.5rem;
}

.img{
    width: 60%;
}

.bg-grey{
    background-color: var(--bool-light);
}

.container_small{
    width: 40%;
}

footer{
    background-color: var(--bool-footerdark);
}



:root{
    --header_background: #3161e0FF;
    --bool-lighter: #ffffffFF;
    --bool-light: #f6f6f6FF;
    --bool-dark: #222628FF;
    --bool-footerdark: #23272aFF;
    --bool-primary: #8ea1e1FF;
}

